.navbar{
width: 100%;
padding: 25px 0;

}
a{
    text-decoration: none;
    color: black;
}
.navContainer{
    width: 90%;
    margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
/* border: 2px solid black; */
}

.navContainer .logo{
    cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.logo .logoImg{

}
.logo img{
width: 30px;
height: 30px;
}
.logo .logoName{
font-size: 28px;
}
.logo span{
color: purple;
}

.navContainer .navLinks{

}
.navLinks ul{
display: flex;
align-items: center;
justify-content: center;
gap: 22px;
}
.navLinks ul li{
list-style: none;
}
.navLinks ul li:hover{
    
}
.navLinks ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 550;
}
.navLinks ul li a:hover{
 
    color: rgb(44, 44, 44);
   
}
.navIcon{
    
}

.navContainer .navContact{
display: flex;
gap: 20px;
align-items: center;
justify-content: center;
}
.navContact .navContactOption{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color:rgb(7, 95, 76) ;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.navContact .navBtn{
padding: 6px 15px;
background-color: rgb(7, 95, 76);
color: white;
border-radius: 15px ;
font-weight: 600;
cursor: pointer;
}